---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';


export async function getStaticPaths() {
  const articles = await Astro.glob('../articles/*.md');

  return articles.map((article) => {
    return {
      params: {
        slug: article.frontmatter.slug,
      },
      props: {
        article
      }
    };
  });
}

const {Content, frontmatter} = Astro.props.article;
---

<Layout title={frontmatter.title}>
  <section class="page-content">
    <div class="container">
      <Card>
        <a class="btn" href="/blog">Go Back</a>
        <h2>{frontmatter.title}</h2>
        <div>
          Written by <strong>{frontmatter.author} </strong> on {new Date(frontmatter.date).toLocaleDateString()}
        </div>
        <Content />
      </Card>
    </div>
  </section>
</Layout>