---
import Card from '../components/Card.astro';
import Showcase from '../components/Showcase.astro';
import Layout from '../layouts/Layout.astro'

const articles = await Astro.glob('../articles/*.md');
---

<Layout title="Astro Blog">
  <Showcase heading="Astro Blog" text="A simple blog built with Astro" />
  <section class="page-content">
    <div class="container">
      {articles.map(article => (
        <Card>
          <h3>{article.frontmatter.title}</h3>
          <div>
          Written by <strong>{article.frontmatter.author} </strong> on {new Date(article.frontmatter.date).toLocaleDateString()}
        </div>
          <p>{article.frontmatter.excerpt}</p>  
          <a class="btn" href={`/${article.frontmatter.slug}`}>Read More</a>
        </Card>
      ))}
    </div>
  </section>
</Layout>